/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    display: flex;
}

.app__left {
    background-color: #f1f1f1;
    padding: 20px;
    border-right: 1px solid #ccc;
    flex: 1; /* Dùng flex để userlist mở rộng theo chiều cao của app__right */
}

.app__title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.app__title--line {
    height: 2px;
    background-color: #333;
    margin: 10px 0;
}

.app__list-user--content {
    list-style-type: none;
    padding: 0;
}

.app__item-user {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.app__right {
    padding: 20px;
    overflow-y: auto;
    flex: 2; /* Dùng flex để messages mở rộng nhanh hơn userlist */
}

.app__messages {
    display: flex;
    flex-direction: column;
}

.message-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.message__row1 {
    display: flex;
    justify-content: space-between;
}

.message__name {
    font-weight: bold;
}

.message_date {
    color: #777;
}

.message__row2 {
    margin-top: 10px;
}

.message__content {
    white-space: pre-line;
}

#form-messages {
    margin-top: 20px;
}

#input-messages {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    margin-left: 10px;
}

#btn-share-location {
    background-color: #4caf50;
}
